[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb
	path = extern/glfw
	url = https://github.com/glfw/glfw