[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb
[submodule "extern/glew"]
	path = extern/glew
	url = https://github.com/Perlmint/glew-cmake
[submodule "extern/FakeIt"]
	path = extern/FakeIt
	url = https://github.com/eranpeer/FakeIt
[submodule "extern/freetype2"]
	path = extern/freetype2
	url = git://git.savannah.gnu.org/freetype/freetype2.git
[submodule "extern/OpenAL-Soft"]
	path = extern/OpenAL-Soft
	url = https://repo.or.cz/openal-soft.git
